@model List<Blog.Contracts.ViewModels.HomeCategoryViewModel>
@{
    ViewBag.Title = "Home Page";
}

@foreach (var item in Model)
{
    <h1>@item.Name</h1>
    @Html.Action("NewsPosts", new { CategoryId = item.CategoryId })
}