@model List<Blog.Contracts.ViewModels.HomeCategoryViewModel>
@{
    ViewBag.Title = "Home Page";
}

@foreach (var item in Model)
{
    <h1>
        <a href="@Url.Action("GetPostByCategoryId", "Post", new { CategoryId = item.CategoryId })">@item.Name</a>
    </h1>
    @Html.Action("NewsPosts", new { CategoryId = item.CategoryId })
}