@model List<Blog.Contracts.ViewModels.CommentViewModel>


<table class="table table-striped">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>
                    <h6>@item.DateOfAddition</h6>
                    <p>@item.Content</p>
                </td>
                <td>    
                    @using(Html.BeginForm("DeleteComment", "Comment", new { commentId = item.CommentId } ))
                    {
                        <button class="btn btn-danger">Usuń</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
